@import "../variables/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: lighter;
    position: relative;
    background-color: $body-background-color;
    padding-bottom: 75px;
    min-height: 100vh;
}