$p-size-desktop: 25px;
$h1-size-desktop: 60px;
$h2-size-dektop: 50px;
$h3-size-dektop: 40px;
$a-size-desktop: 30px;
$body-background-color: #ffc5b7;
$grid-blackground-color: #ffeae5;
$footer-background-color: #bdcdc8;
$p-size-middle: 20px;
$h1-size-middle: 55px;
$h2-size-middle: 45px;
$h3-size-middle: 35px;
$a-size-middle: 25px;
$p-size-mobile: 15px;
$h1-size-mobile: 50px;
$h2-size-mobile: 40px;
$h3-size-mobile: 30px;
$a-size-mobile: 20px;